* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'libertinus_monoregular';
    src: url('libertinusmono-regular-webfont.woff2') format('woff2'),
         url('libertinusmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --primary: #f1f0f0;
  --secondary: #DFDBD8;
  --text: #71676B;
  --hover:#cd8a6d;
}

body {
  /* font-family: 'stempel schneidler std'; */
  /* font-family: 'fluxisch else'; */
  font-family: libertinus_monoregular, serif;
  font-size:1.8rem;
  /* margin:1rem; */
  background:#C7BEB6;
  /* background:white; */
  hyphens: auto;
  white-space: normal;
  word-wrap: break-word;
  opacity:0;
  transition:background 5s ease-in-out, opacity 4s ease-in-out;
  color:var(--text);
}

img {
  max-width: 40vw;
  /* max-height: 100%; */
}

a {
  color:var(--text);
  text-decoration: none;
  display: block;
}

#wrapper {
  display:flex;
  flex-direction:row;

  flex-wrap: wrap;
  min-height:100vh;
  max-height:100vh;
  width:100%;
  /* padding:1rem; */
  text-align: center;

  /* background:linear-gradient(to bottom, transparent 0%, #ffffff61 45%, #ffffff5e 55%, transparent 100%);
  background-repeat: repeat;
  animation: down 100s infinite linear;
  background-size:100% 15%; */
  position: fixed;
}

#sentence-wrap {
  flex-grow:1;
  /* background:lightblue; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  justify-content: center;
  display: none;
}

#sentence {
}

.block {
  width:20%;
  height:20vh;
  position: relative;
}

.block img {
  position: absolute;
  bottom:0;
  right:0;
  max-width:100px;
}

.two {
  background:var(--secondary);
}

.one {
  background:var(--primary);
}

.btn {
  padding:1rem;
  cursor:pointer;
  transition: background .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
}

.btn:hover {
  background:var(--hover);
}

.download-btn {
  bottom:0;
  left:40%;
}

.no {
  bottom:20%;
  left:60%;
}

.yes {
  bottom:20%;
  left:20%;
}

.query {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:20%;
  left:40%;
}

.image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:40%;
  left:40%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.nav  {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:1rem;
}

.info-container {
  /* background:lightgreen; */
  display:flex;
  width:100%;
  flex-wrap: wrap;
  /* padding: 1rem; */
  position: relative;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, black 0%, blue 45%, blue 55%, black 100%); */
  /* background:linear-gradient(to bottom, transparent 0%, #6eff00 45%, black 55%, transparent 100%); */
  /* background-repeat: repeat;
  animation: down 50s infinite linear;
  background-size:100% 50%; */

  /* border: 1px solid var(--primary); */
  /* background:orangered; */
  /* overflow: hidden; */
  border-radius:1.5rem;
  transition:background 5s ease-in-out

}

.btn::selection {
  background:transparent;
}

.segment {
  /* background:lightyellow; */
  overflow: hidden;
  min-width:100%;
  border: 1px solid var(--primary);
  border-radius:1.5rem;

  /* padding:1rem; */
  /* border-top:1px solid var(--primary); */
  display:flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

/* .segment:first-child {
  border-top:none;
} */

.background-btn {
  transition: background .1s ease;
}

.dead:hover {
  background:red;
}

.confirm-wrap {
  position: absolute;
  /* top:-7rem; */
  /* background:blue; */
  width:100%;
  /* padding:1rem; */
  /* border: 1px solid var(--primary); */
  display: flex;
  opacity:0;
  pointer-events: none;
  transition: transform .2s ease-in-out,
              opacity .1s ease-in-out,
              background 5s ease-in-out;
  /* z-index: -1; */
  /* max-height: 6rem; */
  height:100%;
  overflow:hidden;
  /* border-radius:1.5rem; */
}

.open {
  opacity:1;
  pointer-events: all;
  /* transform: translateY(-7rem); */
}

.active {
  background:var(--hover);
}

.mobile {
  display: none;
}

.text {
  padding:1rem;
  margin-bottom: 8rem;
  display: none;
}

.small {
  font-size: 2rem;
  /* position: relative; */
  /* transform: translate(-.5rem, -2.5rem); */
  /* display: inline-block; */
  /* font-style: italic; */
}

.flashing {
  animation: flash 2s infinite;
  transform: translateY(5px);
}

@keyframes down {
  /* 0% {background-position:  0 0;} */
  0% {background-position:  0 -200%;}
  100% {background-position:  -400% 0}
}

@keyframes flash {
  0% {opacity:1;}
  49% {opacity:1;}
  50% {opacity:0;}
  99% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fade {
  0% {opacity:0;}
  10% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:0;}
}


@media (max-width:800px) {
  body {
    font-size: 1.2rem;
  }

  .block {
    /* width:25%; */
  }

  img {
    max-width:80vw;
  }

  .logo {
    height:1.7rem;
  }

  .segment {
    width:100%;
  }

  .download-btn {
    width:60%;
    left:20%;
    background:var(--secondary);
  }

  .query {
    width:60%;
    left:20%;
    background:var(--primary);
  }

  .mobile-space {
    display: block;
    margin-top:2rem;
  }

  .desktop {
    display: none;
  }

  /* .confirm-wrap div,a {
    width:100%;
  } */

  .mobile {
    display:flex;
  }

  .small {
    /* font-size: 1.2rem; */
    /* transform: translate(-.5rem, -2.3rem); */
  }
}
